@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --cursor-default: url("/src/lib/assets/cursor/default.png") 2 2, auto;
  --cursor-pointer: url("/src/lib/assets/cursor/pointer.png") 2 2, auto;
  --cursor-grab: url("/src/lib/assets/cursor/grab.png") 9 11, auto;
  --cursor-grabbing: url("/src/lib/assets/cursor/grabbing.png") 9 11, auto;
}

@font-face {
  font-family: 'Monogram';
  src: url('/fonts/monogram.woff2') format('woff2');
  font-display: swap;
}

.prose ul {
  list-style-type: square;
}

.prose ul > li::marker {
  color: var(--fg-color);
}

:root {
  --font-normal: 'Monogram';
  --bg-color: #000000;
  --fg-color: #fff1e8;
}

body {
  height: 100%;
}

html {
  cursor: url("/src/lib/assets/cursor/default.png") 2 2, auto;
  font-family: 'Monogram', sans-serif;
  background-color: var(--bg-color);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* For macOS Firefox */
  font-smooth: never;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button, a {
  cursor: url("/src/lib/assets/cursor/pointer.png") 2 2, auto;
}

canvas {
  image-rendering: pixelated;
}

.pixelated {
  image-rendering: pixelated;
}