@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Monogram';
  src: url('/fonts/monogram.ttf') format('truetype');
  font-display: swap;
}

.prose ul {
  list-style-type: square;
}

.prose ul > li::marker {
  color: var(--fg-color);
}

:root {
  --font-normal: 'Monogram';
  --bg-color: #000000;
  --fg-color: #fff1e8;
}

body {
  font-family: 'Monogram', sans-serif;
}

html {
  background-color: var(--bg-color);
}

canvas {
  image-rendering: pixelated;
}

.pixelated {
  image-rendering: pixelated;
}